# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Data and models
/data/raw/
/data/processed/
/models/
/visuals/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
